body {
  background-position: center;
  padding: 50px;
  height: 100vh;
  align-items: center;
}
.container {
  max-width: 800px;
  display: block;
  margin: 25px auto;
  padding: 0 auto;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 15px;
  border: solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 24, 49, 0.51) 0px 15px 20px 8px;
}
h1 {
  text-align: center;
  color: #455a64;
  font-size: 48px;
  font-weight: bold;
}

h4 {
  text-align: center;
  font-size: 27px;
}

h6 {
  text-align: center;
  font-size: 24px;
  color: #7c7c7c;
  font-size: 20px;
  font-weight: 200;
}
h5 {
  text-align: center;
  font-size: 24px;
  color: #455a64;
}
